<header>
    <nav class="main_nav">
        <a class="{{#if active.bats}}active{{/if}}" href="/form">FORM</a>
        <a class="{{#if active.carelogs}}active{{/if}}" href="/faq">FAQ</a>
        <a class="{{#if active.persons}}active{{/if}}" href="/about">ABOUT</a>
        <button id="toggleDarkMode" class="darker">I want it darker.</button>
    </nav>
    <img src="moon.png" alt="Moon" class="moon-img">
</header>