<!-- header.hbs -->
<header id="myHeader" class="collapsed">
    <nav class="main_nav">
        <div class="hover_img">
     <a class="{{#if active.form}}active{{/if}}" href="/form">FORM<span><img src="loop.svg" alt="image" height="50" /></a>
    </div>
        <div class="hover_img">
     <a class="{{#if active.faq}}active{{/if}}" href="/faq">FAQ<span><img src="loop.svg" alt="image" height="50" /></span></a>
    </div>
        <div class="hover_img">
     <a class="{{#if active.about}}active{{/if}}" href="/about" id="about-link">ABOUT<span><img src="loop.svg" alt="image" height="50" /></span></a>
    </div>
        <div class="tooltips">
            <div class="tooltip">
        <button id="toggleDarkMode" class="darker">
            <img src="/icons/moon.svg"></img>
        </button>
                  <span class="tooltiptext">I want it darker.</span>
        </div>
        <div class="tooltip">
            <button id="popupTrigger" class="popup" onclick="showQuote()">
                <img src="/icons/message-circle.svg"></img>
                <div id="myPopup">
                    <span id="quoteAuthor" class="popuptext">{{data.fact}}</span>
                </div>
            </button>
          <span class="tooltiptext">click for random fact about bats.</span>
          </div>
        </div>
    </nav>
    <img src="moon.png" alt="Moon" class="moon-img">

    <div id="about-submenu" class="submenu">
        <a class="{{#if active.background}}active{{/if}}" href="/about">.background</a>
        <a class="{{#if active.features}}active{{/if}}" href="/features">.features</a>
        <a class="{{#if active.roadmap}}active{{/if}}" href="/roadmap">.roadmap</a>
    </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>