{{> header}}

<body>
  <main>
    <div class="about-container">
      <div class="about-image">
        <img src="/illustrations/storyline1.png" alt="Image description">
      </div>
      <div class="about-text">
        <h3>ABOUT THIS PROJECT</h3>
        <hr class="line">
        <p>Hey there! This project happened because of my CS 361 class in Software Engineering I. The main purpose was to build a website based on a main app and 4 microservices.</p>
        <p>But the secondary purpose: Are you rescuing bats in your free time (or perhaps also in your not-so-free time)? Look no further! Whether you're a seasoned bat rehabilitator or this is your first encounter with those fluffballs, this project provides resources and tools for bat enthusiasts and rescuers.
        Explore our user-friendly interface to access essential features such as entering bat information, receiving personalized care recommendations, an overview of available boxes and volunteers, and statistics about incoming bats.
        As a work in progress, also check out the menu “roadmap” to stay up to date on upcoming new features which will hopefully make all of our lives easier.
        </p>
      </div>
    </div>
  </main>
</body>


{{! EMBEDED JAVASCRIPT DOCUMENTS }}