{{> header}}

<body>
    <!-- Index Navigation List -->
    <nav class="index-nav">
        <ul><p><h3>USER INSTRUCTIONS</h1></p>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('user1')">how do I start?</span></li>
                <div class="faq" id="user1">start with the "form"-page.</div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('user2')">what if I don't have all the info?</span></li>
                <div class="faq" id="user2">the form can be finished without filling in all the info. if you leave out information such as species and weight, it's possible
                    that you won't get a complete recommendation at the end.
                </div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('user3')">I received an error message.</span></li>
                <div class="faq" id="user3">sorry! please take a screenshot and send it to info@batproject.ch . a short description
                    on how and where the error occurred would be helpful.
                </div>
                <hr class="line">
                <div class="space"></div>
        <div class="space"></div>
        <ul><p><h3>CARE</h1></p>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('broken-bones')">what should I do if I detect broken bones?</span></li>
                <div class="faq" id="broken-bones">if there are any broken bones involved, call the vet, no matter what day or time.</div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('examine-bat')">I can't properly examine the bat because it's too flustered.</span></li>
                <div class="faq" id="examine-bat">store it in one of the boxes with the usual supplies. add some of the buffalo worms, in case it gets hungry. stick a note to the box that
                you were not able to finish the examination. important: if you can spot some blood and/or broken bones, don't just leave it in the box, but also
                call the vet.
                </div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('sticky-bat')">that bat looks somewhat (or very) sticky.</span></li>
                <div class="faq" id="sticky-bat">there is an emergency-cleanup-kit in the cupboard. use the linseed oil to gently rub the stickiness out of its fur. then, use the baby shampoo to remove the
                oil. repeat process, until bat returns to its usual fluffy self.
                </div>
            <div class="space"></div>
            <p><h3>TAXONOMY</h1></p>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('species')">I have no idea what species this is.</span></li>
                <div class="faq" id="species">yeah I'm really bad at that too...</div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('sex')">I have no idea what sex this is.</span></li>
                <div class="faq" id="sex">just continue the registration without filling that part in. fortunately, for bats it doesn't really matter for the care instructions if it's a boy or a girl. :] </div>
            <div class="space"></div>
            <p><h3>FEEDING</h1></p>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('mealworms')">there are barely any mealworms left.</span></li>
                <div class="faq" id="mealworms">there is a conversion table for mealworms to buffalos, and back. you can also consider the automatic conversion rate given when you fill in the form.
                </div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('worm-awareness')">I feel a bit bad for the worms...</span></li>
                <div class="faq" id="worm-awareness">as of yet, we don't know everything about mealworms that is there to know. it is said that they have a "very simple" nervous system. it is believed to be so simple,
                that you can cut them apart, and the individual parts will still continue to function. that is why we often can still see them move, although they are beheaded.
                there is no definite answer to whether they perceive pain the same way we do. for this reason, we aim to kill them as quickly as possible. that they have some sort of
                awareness as to what's about to happen to them, is highly doubtable.</div>
                <hr class="line">
            <li><span class="toggle-icon" onclick="toggleAnswer('vegetarian-alternative')">is there any vegetarian alternative we could feed the bats?</span></li>
                <div class="faq" id="vegetarian-alternative">no, unfortunately there isn't. out there, our local bats have a very exclusive diet. it's insects. they eat between 1500 and 2500 specimens per night. as it is not possible
                for us to feed them that amount of insects per day in our station, we give them mealworms instead. this diet has proven to be successful.
                </div>
                <hr class="line">
        </ul>
    </nav>
    <div class="space"></div>

</body>

{{! EMBEDED JAVASCRIPT DOCUMENTS }}
<script src="js/faq.js"></script>

{{> footer}}

