{{> header}}


<body>
  <main>
    <div class="about-container">
      <div class="about-image">
        <img src="/illustrations/features.png" alt="Image description">
      </div>
      <div class="about-text">
        <h3>EXISTING FEATURES</h3>
        <hr class="line">
        <p>this form, if filled in correctly, will return recommendation with the following:</p>
        <p>1. mealplan</p>
        <p>2. medical treatments</p>
        <p>3. available volunteer</p>
        <p>4. assigned box</p>
        <p>further, there is the possibility to send an e-mail notification to the assigned volunteer.</p>
        <hr class="line">
        <p>This is a free service.</p>
      </div>
    </div>
  </main>
</body>


{{! EMBEDED JAVASCRIPT DOCUMENTS }}