{{> header}}

<body>
  <main>
    <p>EXISTING FEATURES</p>
      <div class="faq-background">
        <p>this form, if filled in correctly, will return recommendation with the following:</p>
        <p>1. mealplan</p>
        <p>2. medical treatments</p>
        <p>3. available volunteer</p>
        <p>4. assigned box</p>
        <p>further, there is the possibility to send an e-mail notification to the assigned volunteer.</p>
      </div>
        <div class="space"></div>
      <div class="faq-background">
        <p>This is free service.</p>
      </div>
  </main>
</body>


{{! EMBEDED JAVASCRIPT DOCUMENTS }}