<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{> header}}


<body>

  {{!-- DISPLAY PAGE 1 OF FORM --}}
  <div id="page1">
    <div class="background">
      <table>
        <div class="space"></div>
            <tr>
                <td class="align-right">species</td>
                <td class="center-text">|</td>
                <td class="align-left" >
                    <select id="species" name="species" class="select2">
                        <option value="Barbastella barbastellus">Barbastella barbastellus</option>
                        <option value="Eptesicus nilssonii">Eptesicus nilssonii</option>
                        <option value="Eptesicus serotinus">Eptesicus serotinus</option>
                        <option value="Hypsugo savii">Hypsugo savii</option>
                        <option value="Miniopterus schreibersii">Miniopterus schreibersii</option>
                        <option value="Myotis alcathoe">Myotis alcathoe</option>
                        <option value="Myotis bechsteinii">Myotis bechsteinii</option>
                        <option value="Myotis blythii">Myotis blythii</option>
                        <option value="Myotis brandtii">Myotis brandtii</option>
                        <option value="Myotis capaccinii">Myotis capaccinii</option>
                        <option value="Myotis crypticus">Myotis crypticus</option>
                        <option value="Myotis daubentonii">Myotis daubentonii</option>
                        <option value="Myotis emarginatus">Myotis emarginatus</option>
                        <option value="Myotis myotis">Myotis myotis</option>
                        <option value="Myotis mystacinus">Myotis mystacinus</option>
                        <option value="Myotis nattereri">Myotis nattereri</option>
                        <option value="Nyctalus lasiopterus">Nyctalus lasiopterus</option>
                        <option value="Nyctalus leisleri">Nyctalus leisleri</option>
                        <option value="Nyctalus noctula">Nyctalus noctula</option>
                        <option value="Pipistrellus kuhlii">Pipistrellus kuhlii</option>
                        <option value="Pipistrellus nathusii">Pipistrellus nathusii</option>
                        <option value="Pipistrellus pipistrellus">Pipistrellus pipistrellus</option>
                        <option value="Pipistrellus pygmaeus">Pipistrellus pygmaeus</option>
                        <option value="Plecotus auritus">Plecotus auritus</option>
                        <option value="Plecotus austriacus">Plecotus austriacus</option>
                        <option value="Plecotus macrobullaris">Plecotus macrobullaris</option>
                        <option value="Rhinolophus ferrumequinum">Rhinolophus ferrumequinum</option>
                        <option value="Rhinolophus hipposideros">Rhinolophus hipposideros</option>
                        <option value="Tadarida teniotis">Tadarida teniotis</option>
                        <option value="Vespertilio murinus">Vespertilio murinus</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">sex</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="sex" name="sex" class="select2">
                        <option value="unknown">unknown</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">development stage</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="age" name="age" class="select2">
                        <option value="adult">adult</option>
                        <option value="baby">baby</option>
                        <option value="teenager">teenager</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">weight (g)</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <input type="number" id="weight" name="weight" step="0.1" placeholder="enter weight (grams)">
                </td>
            </tr>
            <tr>
                <td class="align-right">physical condition</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="condition" name="condition" class="select2">
                        <option value="optimal">optimal</option>
                        <option value="underweight">underweight</option>
                        <option value="overweight">overweight</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">behavior</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="behavior" name="behavior" class="select2">
                        <option value="appropriate">appropriate</option>
                        <option value="apathic">apathic</option>
                        <option value="aggressive">aggressive</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">skeleton</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="skeleton" name="skeleton" class="select2">
                        <option value="intact">intact</option>
                        <option value="fractured">fractured</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">injuries</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="injuries" name="injuries" class="select2">
                        <option value="none visible">none visible</option>
                        <option value="blood present">blood present</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
             <tr>
                <td class="align-right"></td>
                <td></td>
                <td class="align-left"></td>
            </tr>
        </table>
      </div>
          <div class="space"></div>
    <div class="flex-container">
        <div></div>
                   <p>1/2</p>
    <button class="next" onClick="nextPage('page4')" id="gotosummary">NEXT</button>
    </div>

    </div>

  {{!-- DISPLAY SUMMARY OF FORM --}}
  <div id="page4" style="display: none">
    <div class="background">
                <table>
                <tr>
                    <td class="align-right"><p><h3>SUMMARY</h3></p></td>
                    <td></td>
                    <td class="align-left"></td>
                </tr>
            </table>
            <div class="space"></div>
            <table>
                <tr>
                    <td class="align-right">species</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-species"></td>
                </tr>
                <tr>
                    <td class="align-right">sex</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-sex"></td>
                </tr>
                <tr>
                    <td class="align-right">development stage</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-age"></td>
                </tr>
                <tr>
                    <td class="align-right">weight</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-weight"></td>
                </tr>
                                <tr>
                    <td class="align-right">physical condition</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-condition"></td>
                </tr>
                <tr>
                    <td class="align-right">behavior</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-behavior"></td>
                </tr>
                <tr>
                    <td class="align-right">skeleton</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-skeleton"></td>
                </tr>
                <tr>
                    <td class="align-right">injuries</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-injuries"></td>
                </tr>
    </table>
      </div>
    <div class="space"></div>
        <div class="flex-container">
    <button class="back" onClick="nextPage('page1')">BACK</button><p>2/2</p><button class="next" onClick="showRecommendation()">FINISH</button>
</div>
  </div>

  {{!-- DISPLAY RECOMMENDATION OF FORM --}}
  <div id="recommendation" style="display: none">
            <div class="space"></div>
        <div class="background">
            <table>
                <tr>
                    <td class="align-right"><p><h3>RECOMMENDED PROCEDURE</h3></p></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="space"></div>
            <table>
                <tr>
                    <td class="align-right">box</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="box"></td>
                </tr>
                <tr>
                    <td class="align-right">meal plan</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="mealplan"></td>
                </tr>
                <tr>
                    <td class="align-right">assigned volunteer</td>
                    <td class="center-text">|</td>
                    <td class="align-left">
                        <a href="mailto:kistlerr@oregonstate.edu?subject=new bat!&body=There has been a new bat assigned to you. Please check your schedule.">
                        <button id="btnOutlook" class="confirm">notify</button>
                        </a></td>
                </tr>
                <tr>
                    <td class="align-right">further actions</td>
                    <td class="center-text">|</td>
                    <td class="align-left"></td>
                </tr>
    </table>
  </div>
  </div>

  <script>
    document.getElementById('toggleDarkMode').addEventListener('click', function() {
        document.body.classList.toggle('dark-mode');
    });

    let submitFlag = false;

    window.addEventListener('beforeunload', function(event) {
        if (submitFlag == false) {
            // Cancel the event to prevent the browser from navigating away immediately
            event.preventDefault();
            // Prompt the user with a warning message
            event.returnValue = 'Are you sure you want to leave? Your changes may not be saved.'; // Required for some browsers to display the message
            return 'Are you sure you want to leave? Your changes may not be saved.'; // Required for other browsers to display the message   
        }
});
</script>

</body>


{{!-- EMBEDED JAVASCRIPT DOCUMENTS --}}
<script src="js/form.js"></script>
