<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{{> header}}

<!--     
    Citation for the following function: 
    Date: 10/12/2023
    Partially based on: code from Dr. Curry
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<main>

  {{!-- DISPLAY PAGE 1 OF FORM --}}
  <div id="page1">
    <div class="background">
      <table>
        <div class="space"></div>
            <tr>
                <td class="align-right">species</td>
                <td class="center-text">|</td>
                <td class="align-left" >
                    <select id="species" name="species" class="select2">
                        <option value="unknown">unknown</option>
                        <option value="Hypsugo savii">Hypsugo savii</option>
                        <option value="Pipistrellus pipistrellus">Pipistrellus pipistrellus</option>
                        <option value="Pipistrellus kuhlii">Pipistrellus kuhlii</option>
                        <option value="Nyctalus noctula">Nyctalus noctula</option>
                        <option value="Myotis bechsteinii">Myotis bechsteinii</option>
                        <option value="Myotis myotis">Myotis myotis</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">sex</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="sex" name="sex" class="select2">
                        <option value="unknown">unknown</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">development stage</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="age" name="age" class="select2">
                        <option value="unknown">unknown</option>
                        <option value="baby">baby</option>
                        <option value="teenager">teenager</option>
                        <option value="adult">adult</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
             <tr>
                <td class="align-right"></td>
                <td></td>
                <td class="align-left"></td>
            </tr>
            <tr></tr>
        </table>
      </div>
          <div class="space"></div>
    <div class="flex-container">
        <div></div>
                   <p>1/3</p>
    <button class="next" onClick="nextPage('page2')">NEXT</button>
    </div>

    </div>
  
  {{!-- DISPLAY PAGE 2 OF FORM --}}
  <div id="page2" style="display: none">
    <div class="background">
      <table>
                <div class="space"></div>
            <tr>
                <td class="align-right">weight (g)</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <input type="number" id="weight" name="weight" step="0.1" placeholder="enter weight (grams)">
                </td>
            </tr>
            <tr>
                <td class="align-right">physical condition</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="condition" name="condition" class="select2">
                        <option value="underweight">underweight</option>
                        <option value="optimal">optimal</option>
                        <option value="overweight">overweight</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">behavior</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="behavior" name="behavior" class="select2">
                        <option value="appropriate">appropriate</option>
                        <option value="apathic">apathic</option>
                        <option value="aggressive">aggressive</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
             <tr>
                <td class="align-right"></td>
                <td></td>
                <td class="align-left"></td>
            </tr>
            <tr></tr>
            <!-- Add more rows as needed -->
        </table>
      </div>
    <div class="space"></div>
        <div class="flex-container">
    <button class="back" onClick="nextPage('page1')">BACK</button><p>2/3</p><button class="next" onClick="nextPage('page3')">NEXT</button>
  </div>
  </div>

  {{!-- DISPLAY PAGE 3 OF FORM --}}
  <div id="page3" style="display: none">
        <div class="background">
    <table>
                <div class="space"></div>
            <tr>
                <td class="align-right">skeleton</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="skeleton" name="skeleton" class="select2">
                        <option value="intact">intact</option>
                        <option value="fractured">fractured</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-right">injuries</td>
                <td class="center-text">|</td>
                <td class="align-left">
                    <select id="injuries" name="injuries" class="select2">
                        <option value="none visible">none visible</option>
                        <option value="blood present">blood present</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
             <tr>
                <td class="align-right"></td>
                <td></td>
                <td class="align-left"></td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <div class="space"></div>
        <div class="flex-container">
          <button class="back" onClick="nextPage('page2')">BACK</button><p>3/3</p><button class="next" onClick="nextPage('page4')" id="gotosummary" >GO TO SUM</button>
  </div>
  </div>

  {{!-- DISPLAY PAGE 4 OF FORM --}}
  <div id="page4" style="display: none">
    <div class="background">
                <table>
                <tr>
                    <td class="align-right"><p><h3>SUMMARY</h3></p></td>
                    <td></td>
                    <td class="align-left"></td>
                </tr>
            </table>
            <div class="space"></div>
            <table>
                <tr>
                    <td class="align-right">species</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-species"></td>
                </tr>
                <tr>
                    <td class="align-right">sex</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-sex"></td>
                </tr>
                <tr>
                    <td class="align-right">development stage</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-age"></td>
                </tr>
                <tr>
                    <td class="align-right">weight</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-weight"></td>
                </tr>
                                <tr>
                    <td class="align-right">physical condition</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-condition"></td>
                </tr>
                <tr>
                    <td class="align-right">behavior</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-behavior"></td>
                </tr>
                <tr>
                    <td class="align-right">skeleton</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-skeleton"></td>
                </tr>
                <tr>
                    <td class="align-right">injuries</td>
                    <td class="center-text">|</td>
                    <td class="align-left" id="summary-injuries"></td>
                </tr>
    </table>
      </div>
    <div class="space"></div>
        <div class="flex-container">
    <button class="back" onClick="nextPage('page3')">BACK</button><button class="next" onClick="handleFormSubmission()">FINISH</button>
</div>
  </div>

  {{!-- DISPLAY SUMMARY OF FORM --}}
  <div id="recommendation" style="display: none">
            <div class="space"></div>
        <div class="background">
            <table>
                <tr>
                    <td class="align-right"><p><h3>RECOMMENDED PROCEDURE</h3></p></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="space"></div>
            <table>
                <tr>
                    <td class="align-right">box</td>
                    <td class="center-text">|</td>
                    <td class="align-left"></td>
                </tr>
                <tr>
                    <td class="align-right">meal plan</td>
                    <td class="center-text">|</td>
                    <td class="align-left"></td>
                </tr>
                <tr>
                    <td class="align-right">assigned volunteer</td>
                    <td class="center-text">|</td>
                    <td class="align-left"><button class="confirm">notify</button></td>
                </tr>
                <tr>
                    <td class="align-right">further actions</td>
                    <td class="center-text">|</td>
                    <td class="align-left"></td>
                </tr>
    </table>
  </div>
  </div>

  <script>
    document.getElementById('toggleDarkMode').addEventListener('click', function() {
        document.body.classList.toggle('dark-mode');
    });

    let submitFlag = false;

    window.addEventListener('beforeunload', function(event) {
        if (submitFlag == false) {
            // Cancel the event to prevent the browser from navigating away immediately
            event.preventDefault();
            // Prompt the user with a warning message
            event.returnValue = 'Are you sure you want to leave? Your changes may not be saved.'; // Required for some browsers to display the message
            return 'Are you sure you want to leave? Your changes may not be saved.'; // Required for other browsers to display the message   
        }
});
</script>

</main>


{{!-- EMBEDED JAVASCRIPT DOCUMENTS --}}
<script src="js/form.js"></script>
