{{> header}}

<body>
  <main>
    <p><h3>2024</h1></p>
      <div class="faq-background">
        <p>here's a sneak peek at what's about to come:</p>
  <p>IMAGE SEARCH: you will be able to take a photo of the bat and upload it. this will enable an automated
  species determination. DATE: 3rd quarter</p>
  <p>DATABASE CONNECTION: an api to the bat shelter dabatase is currently in the planning. after registrating a bat, it will
    then automatically be entered into the database. DATE: 4th quarter
  </p>
      </div>
  </main>
</body>


{{! EMBEDED JAVASCRIPT DOCUMENTS }}