{{> header}}

<body>
  <main>
    <p>FOR 2024</p>
      <div class="faq-background">
        <p>blahblah</p>
      </div>

    <p>FUTURE</p>
      <div class="faq-background">
        <p>blahblah</p>
      </div>
  </main>
</body>


{{! EMBEDED JAVASCRIPT DOCUMENTS }}