
<body class="image">
  <img src="moon.png" alt="moon" class="moon-img"/>
<p>
    This website is dedicated to providing valuable resources
</p>
<p>and tools for bat rescuers.</p>  <button
    class="next"
    type="button"
    onClick="enterSite()"
  >enter</button>
</body>

{{! EMBEDED JAVASCRIPT DOCUMENTS }}