
<body class="image">
  <img src="/moon.PNG" alt="castle" />
<p>
    This website is dedicated to providing valuable resources and tools for bat rescuers.
</p>  <button
    class="next"
    type="button"
    onClick="enterSite()"
  >enter</button>
</body>

{{! EMBEDED JAVASCRIPT DOCUMENTS }}