<body>
    
    <div id="container">
    <div id="first"><p>This website is dedicated to providing resources and tools for bat rescuers.</p>
    <button class='next' type='button' onClick='enterSite()'>enter</button></div>
    <div id="second"><img src='storyline1.png' alt='storyline1'/></div>
    <div id="clear"></div>
</div>
</body>

{{! EMBEDED JAVASCRIPT DOCUMENTS }}
