@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:wght@400..800&display=swap');

/*   ----- Variables  -----  */
:root {
    --almost-black: #010107;
    --dusty-purple: #c2becf;
    --almost-white: #dddff2;
    --kinda-berry: #a6a0b9;
    --pale-red: #a86f3a;
    --nice-green: #659ea6;
    --greyish: #cfc5c3;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
    /* Can alternatively define in html {} or :root {} */
    font-family: 'Teachers', sans-serif;
    font-weight: 400;
    font-size: 110%;
    font-style: normal;
    background-color: var(--greyish);
    margin-top: 90px;
    padding: 30px;
    min-height: 400px;
    margin-bottom: 100px;
    overflow-x: hidden;
    clear: both;
}

/* Dark mode styles */
body.dark-mode {
    background-color: var(--almost-black);
    color: var(--greyish);
}

body.dark-mode header {
    background-color: var(--almost-black);
    color: var(--greyish);
}

body.dark-mode .background {
    background-color: var(--greyish);
    color: var(--almost-black) !important;
}

body.dark-mode .main_nav a {
    color: var(--greyish);
}

body.dark-mode .main_nav a:hover,
a.active {
}


body.dark-mode .submenu a {
    color: var(--greyish);
    font-weight: 400;
    text-decoration: none;
    padding: 0px 24px;
    margin-right: 10px;
    height: 50px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    line-height: 47px;
    border-radius: 25px;
}

.darker {
    background-color: white;
    font-size: 15px;
    color: var(--almost-black);
    border: none;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 12px;
}

body.dark-mode .table {
    color: var(--almost-black);
}

.toggle-icon {
    cursor: pointer;
}

.moon-img {
    position: absolute;
    top: -60px;
    right: -20px;
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 2; /* Ensure the moon image has a higher z-index than the header */
    transform: rotate(300deg);
}

.line {
    border-top: 1px solid #000; /* Change the color and style as needed */
    margin: 10px 0; /* Adjust the margin as needed */
}

.about {
    color: var(--dusty-purple);
}

/*  ----- Page layout blocks -----  */
header,
footer {
    font-family: 'Teachers', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--greyish);
    color: var(--almost-black);
    position: fixed;
    width: 100%;
    margin: 0%;
    padding-left: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
}

#myHeader {
    background-image: linear-gradient(
        to bottom,
        var(--kinda-berry),
        rgba(255, 0, 0, 0)
    );
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    color: var(--almost-black);
    border: none;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 12px;
    height: 21px;
    user-select: none;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 320%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    left: -15px;
    top: 5px;
    border-top: 6px solid transparent;
    border-right: 15px solid #555;
    border-left: none;
    border-bottom: 15px solid transparent;
    content: '';
    position: absolute;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-family: 'Teachers', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#container {
    display: flex;
    align-items: center; /* Vertically center the children */
    justify-content: center; /* Horizontally center the children */
    height: auto; /* Make the container take full viewport height */
    text-align: center; /* Center text inside flex items */
    margin: 20px; /* Adjust the margin as needed */
  }
  
  #first {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items within the flex item */
    justify-content: center; /* Vertically center the text within this div */
    min-width: 30%; /* Adjust the width as needed */
  }
  
  #second img {
    max-width: 70%;
    height: auto;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:target::before {
    content: '';
    display: block;
    height: 90px; /* Height of the fixed header */
    margin: -90px 0 0; /* Negative margin to offset scroll position */
}

header {
    height: 90px;
    top: 0;
    padding-right: 40px;
}

header * {
    display: inline;
}

.headerimg {
    height: 90px;
}

footer {
    bottom: 0;
    z-index: 999;
    align-items: left;
}

main {
    width: 95%;
}
section {
}
article {
    background-color: var(--dusty-purple);
    margin: 2%;
    margin-left: 1%;
    padding: 2%;
    scroll-margin-top: 90px;
    border-radius: 30px;
}
#topic1 {
}
#topic2 {
}
aside {
}

/*  ----- Navigation ----- Override text links for navigation only.  */

/* Styles for main menu */
.main_nav {
    position: relative; /* Ensure submenu position is relative to main menu */
    text-align: left;
    font-family: 'Chelsea Market', system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.main_nav > * {
    margin-right: 10px;
}

.main_nav a {
    color: var(--almost-black);
    font-weight: 300;
    text-decoration: none;
    justify-content: center;
    border-radius: 23px;
    padding: 10px;
}

/* Styles for submenu */
.submenu {
    display: none;
    position: absolute;
    font-family: 'Chelsea Market', system-ui;
    top: 60px; /* Position submenu below main menu */
    /* background-color: #fff;*/
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    /* padding: 10px; */
    border-radius: 25px;
    transition: all 0.3s ease;
}

.submenu a {
    color: var(--almost-black);
    font-weight: 400;
    text-decoration: none;
    padding: 0px 24px;
    margin-right: 10px;
    height: 50px;
    display: inline-block;
    display: inline-flex;
    justify-content: center;
    line-height: 47px;
    border-radius: 25px;
}

.submenu.show {
    display: block;
}

.main_nav a.active {
    background-color: transparent;
    color: var(--almost-black);
    background-image: url('underline.svg');
    background-size: contain; /* Adjusts the image to cover the entire area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center 35px; /* Centers the image within the element */
    border-radius: 0px;
}

.hover_img a {
    position: relative;
}
.hover_img a span {
    position: absolute;
    display: none;
    margin-top: -35px;
    margin-left: -10px;
}
.hover_img a:hover span {
    display: block;
}

.hover_img a.active {
    /*background: transparent;*/
}

.hover_img_submenu a {
    position: relative;
}
.hover_img_submenu a span {
    position: absolute;
    display: none;
    margin-top: 1px;
    margin-left: -10px;
}
.hover_img_submenu a:hover span {
    display: block;
}

.hover_img_submenu a.active {
    /*background: transparent;*/
}


.index-nav ul {
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.index-nav li {
    margin-bottom: 10px; /* Adjust spacing between items if needed */
}

.index-nav a {
    text-decoration: none; /* Remove default underline */
    color: #333; /* Set link color */
    display: block; /* Make the entire list item clickable */
}

.index-nav a:hover {
    font-weight: 600; /* Make the font heavier when hovering */
}


.meal-plan-container {
    display: flex;
    align-items: center;
}

.meal-plan-container span {
    margin-right: 10px;
}

.about-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
  }
  
  .about-image img {
    max-width: 80%;
    height: auto;
  }
  
  .about-text {
    margin-left: 20px; /* Adjust the spacing as needed */
  }
  
  .line {
    margin: 10px 0; /* Adjust line spacing if necessary */
  }

/*  -----  Typography  ----- */
p {
    font-weight: 300;
}
br {
}
ol,
ul,
dl {
}
li {
}
dt {
}
dd {
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teachers', sans-serif;
}
h1 {
    font-size: 500%;
}
h2 {
    font-size: 300%;
    margin: 0;
    padding: 1%;
    scroll-margin-top: 110px;
}
h3 {
    font-family: 'Chelsea Market', system-ui;
    font-weight: 400;
    font-style: normal;
}
h4 {
    font-size: 100%;
    margin: 0;
    padding: 1%;
}
h5 {
}
h6 {
}

.background {
    background-color: white;
    margin: 0 auto; /* Center the div horizontally */
    color: var(--almost-black);
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    font-family: 'Teachers', sans-serif;
    font-weight: 300;
    font-size: 110%;
    font-style: normal;
    padding: 0.5% 3%;
    font-weight: 600;
    text-align: center;
}

.faq-background {
    background-color: white;
    margin: 0 auto; /* Center the div horizontally */
    color: var(--almost-black);
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    font-family: 'Teachers', sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 0.5% 3%;
    font-weight: 600;
}

.faq {
    display: none;
}

/*  ----- Table ----- */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.center-text {
    text-align: center;
}

/* Set fixed width for Column 1 */
th:nth-child(1),
td:nth-child(1) {
    width: 200px;
    font-weight: 600;
}

/* Set fixed width for Column 1.5 */
th:nth-child(2),
td:nth-child(2) {
    width: 5px; /* Adjust as needed */
}

/* Set fixed width for Column 2 */
th:nth-child(3),
td:nth-child(3) {
    width: 300px; /* Adjust as needed */
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

colgroup {
}
data {
}
datalist {
}

/*  ----- Form ----- */
form {
}
fieldset {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top:;
    padding:;
}
legend {
    color:;
    padding-bottom: 10px;
    font-size:;
}
label {
    display: block;
    margin-top: 2%;
}

.button-container {
    display: flex;
    justify-content: flex-start !important;
}

input[type='integer'] {
    background-color: #c8c4d3;
    font-size: 110%;
    padding: 1%;
    font-family: inherit;
    border-radius: 30px;
    border-color: none;
    padding: 0 12px;
    min-height: 38px;
    border: none;
    width: 50px;
}

input.search {
    width: 300px;
}

input[type='text'],
input[type='number'],
input[type='date'],
button,
textarea,
select {
    font-size: 18px;
    background-color: var(--greyish);
    padding: 1%;
    font-family: inherit;
    border-radius: 30px;
    padding: 0 12px;
    min-height: 30px;
    border: none;
}
textarea {
    height: 125px;
    padding-top: 13px;
}

.nameinput {
    height: 50px;
    width: 100%;
}

#page2,
#page3,
#page4 {
    display: none;
}

button {
}
input {
}

input:invalid {
    border: 3px solid red;
}
input:valid {
    /*border:2px solid;*/
}

input::placeholder {
    color: darkgray;
}
input[type='checkbox']:checked + label {
    color: green;
    font-style: italic;
}
input:disabled {
    background: repeating-linear-gradient(
        142deg,
        #cccccc,
        #cccccc 4px,
        #999999 22px
    );
}
input:enabled {
}

.accent {
    background-color: var(--almost-black);
    color: var(--dusty-purple);
    border: 5px solid var(--dusty-purple);
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 12px;
    width: 60px;
    font-family: 'Teachers', sans-serif;
    font-weight: 300;
    font-style: normal;
    align-items: center;
    justify-content: center;
    line-height: 1;
    pointer-events: none;
}

.checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkbox-list label {
    display: block;
    margin-bottom: 5px;
}

.checkbox-list input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#remark {
    width: 320px;
    height: 120px;
}

.confirm {
    cursor: pointer;
    background-color: var(--nice-green);
}

.next {
    background-color: white;
    font-size: 15px;
    color: var(--almost-black);
    border: none;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 12px;
    width: 70px;
    font-family: 'Chelsea Market', system-ui;
    font-weight: 400;
    font-style: normal;
    display: right;
    align-items: right;
    justify-content: right;
    line-height: 1;
}

.next:visited {
    color: var(--dusty-purple) !important;
}

.next:active {
    color: var(--almost-black);
    background-color: var(--dusty-purple);
}
.next:hover {
    background-color: var(--almost-black);
    color: white;
}

.back {
    background-color: white;
    font-size: 15px;
    color: var(--almost-black);
    border: none;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 3px 12px;
    width: 70px;
    font-family: 'Chelsea Market', system-ui;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
    display: center;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.space {
    height: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.actions button {
    margin-left: 13px;
    width: 120px;
}

.image {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image img {
    width: 40%;
    height: auto; /* Maintain the aspect ratio */
}

output {
}
meter {
}
progress {
}
select {
}
optgroup {
}
option {
}
textarea {
}
/*:focus {
    background-color: HoneyDew;*/
}
*:required {
    border: 2px solid green;
}

/* ----- Media ----- */
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 95%;
    margin: 1%;
    padding: 1%;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .main_nav {
        text-align: left; /* Center the buttons on smaller screens */
        flex-direction: column;
        align-items: flex-start;
    }

    .main_nav a {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .main_nav a:hover,
    a.active {
        color: var(--almost-black);
        border-radius: 23px;
        background-image: none;
    }

    .submenu {
        text-align: left; /* Center the buttons on smaller screens */
        background-color: transparent;
    }

    .submenu a {
        margin-left: 100px;
        background-color: transparent;
    }

    .moon-img {
        position: absolute;
        top: -60px;
        right: -20px;
        width: 200px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        z-index: 2; /* Ensure the moon image has a higher z-index than the header */
        transform: rotate(300deg);
    }

    header {
        height: 180px;
    }

    .tooltips {
        margin-top: 15px;
    }

    .about-container {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center elements horizontally */
      }
    
      .about-text {
        margin-left: 0; /* Remove left margin for mobile view */
        margin-top: 20px; /* Add top margin for spacing between image and text */
      }
    
      .about-image img {
        width: 100%; /* Ensure image takes full width on mobile */
      }

      #container {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center; /* Center align the items */
      }
    
      #first, #second {
        max-width: 100%; /* Ensure full width on mobile */
      }
    
      #first {
        margin-bottom: 20px; /* Add some space between the text and the image */
      }

    body {
        margin-top: 190px;
    }

    th,
    td {
        display: block;
    }

    /* Add spacing between each cell */
    th,
    td {
        margin-bottom: 10px;
    }

    th:nth-child(1),
    td:nth-child(1) {
        text-align: left;
        margin-bottom: 0.1;
    }

    th:nth-child(2),
    td:nth-child(2) {
        display: none;
    }

    /* The actual popup (appears on top) */
    .popup .popuptext {
        width: 150px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 8px;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 30%;
        margin-left: -80px;
    }

    /* Popup arrow */
    .popup .popuptext::after {
        left: 80px;
        top: -10px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid #555;
    }

    
}

@keyframes App-logo {
}

/*   ===== PHONE  media query overrides mobile styles ===== */
@media screen and (max-width: 768px) {
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {
}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {
}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {
}
